@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container{
    width: 1280px;
}

.menu-item{
    display: inline;
    margin-right: 72px;
    margin-left: 72px;
}

.header-menu{
    list-style: none;
    text-align: center;
}

.item-link{
    text-decoration: none;
    width: 87px;
    height: 27px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
    color: #FF0000;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 38px;
}

.text-content{
    text-align: center;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    text-align: center;
    letter-spacing: 2.4px;
    
    color: #373737;
}

p{
    margin: 28px;
}

.footer{
    margin-left: 713px;
    margin-right: 105px;
}

.button{
    /* margin-left: 544,5px;
    margin-right: 544,5px; */
    margin: 544px;
    padding: 18px 43.5px 17px 42.5px;
    text-decoration: none;
    background-color: #FF0000;
    border-radius: 8px;

    width: 105px;
    height: 16px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    
    letter-spacing: 1.8px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}